<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Load-Data" data-toc-modified-id="Load-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Load Data</a></span></li><li><span><a href="#Demo-of-Cleaning-Functions" data-toc-modified-id="Demo-of-Cleaning-Functions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Demo of Cleaning Functions</a></span><ul class="toc-item"><li><span><a href="#Columns" data-toc-modified-id="Columns-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Columns</a></span></li><li><span><a href="#Distributions" data-toc-modified-id="Distributions-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Distributions</a></span></li><li><span><a href="#Correlations" data-toc-modified-id="Correlations-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Correlations</a></span></li></ul></li></ul></div>

In [1]:
import datetime as dt
import sys
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
print(sys.executable)
print(sys.version)
print(f"Pandas {pd.__version__}")
print(f"Seaborn {sns.__version__}")

C:\Users\r2d4\miniconda3\envs\py3\python.exe
3.8.3 (default, May 19 2020, 06:50:17) [MSC v.1916 64 bit (AMD64)]
Pandas 1.1.3
Seaborn 0.11.0

In [3]:
sys.path.append(str(Path.cwd().parent / 'src'))

In [4]:
%load_ext autoreload
%autoreload 2

%matplotlib inline
# %config InlineBackend.figure_format = 'svg'
plt.style.use('raph-base')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

pd.set_option('precision', 2)
pd.set_option('display.max_columns', 30)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', 800)

In [5]:
import src.clean as clean

## Load Data

In [6]:
df = pd.read_csv("../data/realWorldTestData.csv", 
                 low_memory=False, 
                 nrows=1000,
                 usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                 )

df["target_num"] = np.where(df["target_event"] == "ACTIVE", 1, 0)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   car_nr                         1000 non-null   float64
 1   ref_dt                         1000 non-null   object
 2   target_event                   1000 non-null   object
 3   NUM_CONSEC_SERVICES            1000 non-null   int64
 4   SUM_INVOICE_AMOUNT_IN_SERVICE  1000 non-null   float64
 5   SUM_INVOICE_AMOUNT             1000 non-null   float64
 6   NUM_EVENTS                     1000 non-null   int64
 7   FIRST_EVT                      1000 non-null   object
 8   LAST_EVT                       1000 non-null   object
 9   LAST_MILEAGE                   1000 non-null   float64
 10  MEAN_MILEAGE_PER_MNTH          1000 non-null   float64
 11  AVG_DIFF_MNTH                  1000 non-null   int64
 12  age_mnth                       1000 non-null   int64
 13  target_num                     1000 non-null   int32
dtypes: float64(5), int32(1), int64(4), object(4)
memory usage: 105.6+ KB

## Demo of Cleaning Functions 
### Columns

In [9]:
df = clean.prettify_column_names(df)

# Show result
df.columns

Index(['car_nr', 'ref_dt', 'target_event', 'num_consec_services',
       'sum_invoice_amount_in_service', 'sum_invoice_amount', 'num_events',
       'first_evt', 'last_evt', 'last_mileage', 'mean_mileage_per_mnth',
       'avg_diff_mnth', 'age_mnth', 'target_num'],
      dtype='object')

In [32]:
clean.count_dtypes(df)

         # cols
float64       5
object        4
int64         4
int32         1