In [5]:
import datetime as dt
import sys
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
print(sys.executable)
print(sys.version)

C:\Users\r2d4\miniconda3\envs\py3\python.exe
3.8.3 (default, May 19 2020, 06:50:17) [MSC v.1916 64 bit (AMD64)]

In [7]:
sys.path.append(str(Path.cwd().parent / 'src'))

In [8]:
%load_ext autoreload
%autoreload 2

%matplotlib inline
# %config InlineBackend.figure_format = 'svg'
plt.style.use('raph-base')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

pd.set_option('precision', 2)
pd.set_option('display.max_columns', 30)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', 800)

In [13]:
import src.EDA as EDA

In [10]:
df = pd.read_csv("../data/realWorldTestData.csv", 
                 low_memory=False, 
                 nrows=1000,
                 )

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 82 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   car_nr                         1000 non-null   float64
 1   ref_dt                         1000 non-null   object
 2   target_event                   1000 non-null   object
 3   NUM_CONSEC_SERVICES            1000 non-null   int64
 4   SUM_INVOICE_AMOUNT_IN_SERVICE  1000 non-null   float64
 5   SUM_INVOICE_AMOUNT             1000 non-null   float64
 6   NUM_EVENTS                     1000 non-null   int64
 7   FIRST_EVT                      1000 non-null   object
 8   LAST_EVT                       1000 non-null   object
 9   LAST_MILEAGE                   1000 non-null   float64
 10  MEAN_MILEAGE_PER_MNTH          1000 non-null   float64
 11  AVG_DIFF_MNTH                  1000 non-null   int64
 12  age_mnth                       1000 non-null   int64
 13  KANTON_LICENCE_PLATE           991 non-null    object
 14  INSPECTION_INTERVAL_UID        1000 non-null   object
 15  LIST_PRICE                     1000 non-null   float64
 16  END_CUSTOMER_STATUS_UID        1000 non-null   object
 17  ACCIDENT_CAR                   1000 non-null   int64
 18  CAR_BRAND_UID                  1000 non-null   object
 19  DESCRIPTION_DE                 1000 non-null   object
 20  DESCRIPTION_DE2                1000 non-null   object
 21  FUEL_TYPE_UID                  1000 non-null   object
 22  GEAR_TYPE_UID                  1000 non-null   object
 23  WHEEL_DRIVE_UID                1000 non-null   object
 24  NUMBER_OF_DOORS_UID            976 non-null    float64
 25  GEAR_COUNT                     1000 non-null   float64
 26  EXTERIOR_COLOR_DE              1000 non-null   object
 27  INTERIOR_COLOR_DE              1000 non-null   object
 28  BASE_MARGIN                    1000 non-null   float64
 29  BUDGET_TYPE_IMPORT             1000 non-null   object
 30  SALES_TYPE                     1000 non-null   object
 31  SALES_TYPE_IMPORT              1000 non-null   object
 32  CAR_OWNER_JOIN_NR              1000 non-null   float64
 33  FUNCTION_TYPE_UID              33 non-null     object
 34  PERSON_LANGUAGE_UID            1000 non-null   object
 35  TITLE                          45 non-null     object
 36  POSITION                       298 non-null    object
 37  EVT_BIRTH                      0 non-null      float64
 38  PERSON_STREET                  1000 non-null   object
 39  PERSON_STATE                   1000 non-null   object
 40  PERSON_ZIP_CODE                1000 non-null   int64
 41  PERSON_CITY                    1000 non-null   object
 42  PERSON_ADRESS_COUNT            1000 non-null   float64
 43  ownerAge                       901 non-null    float64
 44  PARTNER_COMPANY_NR             1000 non-null   int64
 45  NAME                           0 non-null      float64
 46  ACTIVE                         1000 non-null   int64
 47  REGION_UID                     1000 non-null   object
 48  SECTOR_UID                     1000 non-null   object
 49  PARTNER_LANGUAGE_UID           1000 non-null   object
 50  IS_RETAIL_PARTNER              1000 non-null   int64
 51  IS_PREFERRED_PARTNER           1000 non-null   int64
 52  IS_DEALER                      1000 non-null   int64
 53  IS_SERVICE_PARTNER             1000 non-null   int64
 54  RATING_UID                     0 non-null      float64
 55  PARTNER_ADRESS_TYPE_UID        1000 non-null   object
 56  PARTNER_STREET                 1000 non-null   object
 57  PARTNER_STATE                  1000 non-null   object
 58  PARTNER_ZIP_CODE               1000 non-null   int64
 59  PARTNER_CITY                   1000 non-null   object
 60  PARTNER_ADRESS_COUNT           1000 non-null   int64
 61  Sprachregion                   683 non-null    float64
 62  Haushaltstyp                   683 non-null    float64
 63  Urbanitaet                     683 non-null    float64
 64  Wohneigentumverhaeltnis        683 non-null    object
 65  Haushaltsgroesse               683 non-null    float64
 66  KaufkraftindexGemeinde         683 non-null    float64
 67  Fahrzeugtyp                    683 non-null    float64
 68  Haushaltseinkommen             683 non-null    float64
 69  Fahrzeugklasse                 683 non-null    float64
 70  Lebensphase                    683 non-null    float64
 71  HaushaltsgroesseFein           683 non-null    float64
 72  Fahrzeugart                    683 non-null    float64
 73  Altersklasse5J                 683 non-null    float64
 74  Kanton                         683 non-null    float64
 75  WEMFWirtschaftsgebiet          683 non-null    float64
 76  Altersklasse1J                 683 non-null    float64
 77  PARTNER_LAT                    1000 non-null   float64
 78  PARTNER_LNG                    1000 non-null   float64
 79  PARTNER_ADDRESS                1000 non-null   object
 80  dist_metres                    1000 non-null   float64
 81  dist_seconds                   1000 non-null   float64
dtypes: float64(34), int64(14), object(34)
memory usage: 640.8+ KB

In [66]:
EDA.display_distinct_values(df.iloc[:, :10])

                               #_distinct_values
Column
car_nr                                       999
ref_dt                                       495
target_event                                   2
NUM_CONSEC_SERVICES                           10
SUM_INVOICE_AMOUNT_IN_SERVICE                 47
SUM_INVOICE_AMOUNT                           714
NUM_EVENTS                                    37
FIRST_EVT                                    727
LAST_EVT                                     544
LAST_MILEAGE                                 991

In [15]:
EDA.display_value_counts_ptc(df, cols=["CAR_BRAND_UID", "BASE_MARGIN"])

In [79]:
EDA.display_tail_transposed(df.iloc[:, :10], random_state=None)

(1000, 10)

                                                       302                          158                          870                          413                          353
car_nr                                             1.1e+08                      1.4e+08                      1.4e+07                      2.4e+08                      1.2e+08
ref_dt                         2015-08-20 00:00:00.0000000  2016-04-06 00:00:00.0000000  2016-07-27 00:00:00.0000000  2016-07-15 00:00:00.0000000  2016-07-14 00:00:00.0000000
target_event                                        ACTIVE                       ACTIVE                       ACTIVE                       ACTIVE                       ACTIVE
NUM_CONSEC_SERVICES                                      2                            1                            3                            2                            3
SUM_INVOICE_AMOUNT_IN_SERVICE                            0                            0                            0                            0                            0
SUM_INVOICE_AMOUNT                                 1.1e+02                      7.9e+02                      2.6e+03                            0                            0
NUM_EVENTS                                               9                           10                           13                            5                            6
FIRST_EVT                      2012-05-01 00:00:00.0000000  2013-06-20 00:00:00.0000000  2010-04-30 00:00:00.0000000  2013-11-22 00:00:00.0000000  2012-09-27 00:00:00.0000000
LAST_EVT                       2015-04-20 00:00:00.0000000  2016-04-06 00:00:00.0000000  2015-09-08 00:00:00.0000000  2015-09-16 00:00:00.0000000  2015-08-26 00:00:00.0000000
LAST_MILEAGE                                         3e+04                      2.5e+04                      7.1e+04                      5.8e+04                      2.7e+04

In [78]:
EDA.plot_num_hist(df.iloc[:, :10], figsize=(14, 8), bins=5)

TypeError: plot_num_hist() got an unexpected keyword argument 'bins'